.home-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  p {
    color: #ccc;
    margin-bottom: 40px;
  }
  
  .maintenance-emoji {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 150px;
    height: auto;
    margin-top: 20px;
  }
  